* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #020A17;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 rgb(105, 105, 105), 
               -1px -1px 0 rgb(105, 105, 105), 
               1px -1px 0 rgb(105, 105, 105),  
               -1px 1px 0 rgb(105, 105, 105)
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
}

img {
  width: 100%;
}

.background {
  position:fixed;
}

.bottom {
  position: relative;
  top:225px

}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #020A17;
  position: relative;
}

.parallax-container {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width:1200px;
  min-width: 600px;
  background-color: #020A17;
}

.parallax {
  background-color: #020A17;
}

.header {
  display: flex;    
  flex-wrap: wrap;
  justify-content: center;
  margin-top:5px;
  width: 100%;
}

.flex-basis {
  flex-basis: 100%;
}

.portfolio-header {
  font-size: 2.1rem;
}

.scroll-message {
  font-size: 1.4rem;
}

.portfolio-header, .scroll-message {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

main {
  position: absolute;
  top: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.content-container {
  margin:10px;
}

main>h1 {
  font-size: 1.5rem;
} 

main>p {
  font-size:1.2rem;
}

.mobile-container {
  width: 100%;
  height: 300vh;
}

.mobile-header {
  position: absolute;
  top: -0.7rem;
}

@media only screen and (max-width:768px) {
  .portfolio-header {
    font-size: 2rem;
  }
  .scroll-message {
    font-size: 1.3rem;
  }
  .content-container {
    width: 100vw;
  }
}

@media only screen and (max-width:600px) {
  main {
    justify-content: center;
  }

  .header {
    margin-top: 20px
  }
  .portfolio-header {
    font-size: 1.7rem;
  }
  .scroll-message {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width:480px) {
  .header {
    margin-top: 35px
  }
  .portfolio-header {
    font-size: 1.5rem;
  }
  .scroll-message {
    font-size: 1.2rem;
  }

}


@media only screen and (max-width:340px) {
  .header {
    margin-top: 60px
  }
  .portfolio-header {
    font-size: 1.3rem;
  }
  .scroll-message {
    font-size: 1rem;
  }
}
